
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav,footer{
    background-color: black;
    padding: 15px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

ul li a{
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
color: white;
text-decoration: none;
}


h1{
font-family: Inter;
font-size: 88px;
font-weight: 500;
line-height: 93px;
text-align: center;
width: 743px;
margin: 0 auto;
margin-top: 114px;
}

.col-title{
width: 393px;
height: 92px;
gap: 0px;
opacity: 0.6px;
}

h2{
    width: 212px;
    height: 34px;
    margin-left: 100px;
}

.col-3{
  padding-top: 150px;
  padding-left: 100px;
  display: flex;
  gap: 100px;
  margin-left: 200px;
}

.imh{
    width: 393px;
    height: 230px;
    border-radius: 20px;
}


.col-6{
    padding-top: 150px;
    padding-left: 100px;
    display: flex;
    gap: 100px;
    margin-left: 200px;
}